
<div class="container">
  <section>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4">
        <%=link_to "Mon compte", edit_user_registration_path(@user), class: "btn-yours-small" %>
    </div>
    <div class="col-xs-12 col-sm-4">
        <%=link_to "Profil investisseur", pages_profil_path(@user), class: "btn-yours2" %>
    </div>
    <div class="col-xs-12 col-sm-4">
        <%=link_to "Mon épargne", pages_epargne_path(@user), class: "btn-yours2" %>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-xs-12">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
        <div class="box-icon-title">
          <i class="fa fa-database"></i>
          <h2>Votre compte</h2>
        </div>
      </div>
        <div class="col-md-12 col-sm-12">
          <form action="/users" method="post" class="sky-form boxed">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

            <fieldset class="nomargin form-inputs">

              <%= f.input :email, required: true, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :password, autocomplete: "off", hint: "Laissez le champs vide si vous ne voulez pas changer.", required: false %>
              <%= f.input :password_confirmation, required: false %>
              <%= f.input :current_password, hint: "Nous avons besoin de votre mot de passe actuel pour effectuer le changement.", required: true %>

                <footer>
                  <%= f.button :submit, "Confirmer", class: "btn-yours-small pull-right" %>
                  <%= link_to "Retour", :back, class: "btn-yours-small pull-left" %>
                    <br>

                  <div class="row">
                  <div class="col-xs-12">
                    <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "êtes-vous certain?" }, method: :delete, class: "btn btn-danger noradius pull-left" %>
                    </div>
                  </div>
                </footer>
            </fieldset>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


