      <!-- REVOLUTION SLIDER -->
     <!--  <section id="slider" class="fullwidthbanner-container roundedcorners"> -->
        <!--
          Navigation Styles:

            data-navigationStyle="" theme default navigation

            data-navigationStyle="preview1"
            data-navigationStyle="preview2"
            data-navigationStyle="preview3"
            data-navigationStyle="preview4"

          Bottom Shadows
            data-shadow="1"
            data-shadow="2"
            data-shadow="3"

          Slider Height (do not use on fullscreen mode)
            data-height="300"
            data-height="350"
            data-height="400"
            data-height="450"
            data-height="500"
            data-height="550"
            data-height="600"
            data-height="650"
            data-height="700"
            data-height="750"
            data-height="800"
        -->
        <section id="banner">
        <div class="fullscreenbanner" data-navigationStyle="" data-height="600">
          <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path "bannervieux.jpg" %>');">
            <div class="banner-content">
            <h1>VIAG'UP</h1>
            <p>Investissez dans l'ancien... &amp; dans le senior </p>
            <%= link_to  viagers_path, class: "btn-treehouse-large" do%>

              <span>Découvrir nos projets</span>
              <i class="fa fa-search" aria-hidden="true"></i>
            <%end%>
            </div>
          </div>
      </section>
     <!--  </section> -->
      <!-- /REVOLUTION SLIDER -->
    <!-- Goodies -->
      <section>
        <div class="container boldy">

          <div class="row">
            <div class= "col-xs-12 text-center">
              <h1 class="boldy  title"><i class="fa fa-cog" aria-hidden="true"></i>   Découvrir le fonctionnement</h1>
              <p class="boldy tagline">Ou comment épargnez dans la pierre sans contrainte</p>
            </div>

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <%= image_tag "tech-color_desktop.svg"%>
                  <h2 class="boldy underlign">100% en ligne</h2>
                </a>
                <p class="text-muted">Le banquier, l'agent immo et le notaire, c'est fini. Nous nous occupons de tout.</p>
              </div>

            </div>

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <%= image_tag "business-color_money-12.svg"%>
                  <h2 class="boldy underlign">Investir ensemble</h2>
                </a>
                <p class="text-muted">Epargnez avec vos proches ou intégrez une équipe en cours de constitution.</p>
              </div>

            </div>

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <%= image_tag "business-color_wallet-43.svg"%>
                  <h2 class="boldy underlign">Diversifier</h2>
                </a>
                <p class="text-muted">Ne mettez pas tous vos oeufs dans le même panier, répartissez votre épargne sur plusieurs projets.</p>
              </div>

            </div>

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <%= image_tag "business-color_board-30.svg"%>
                  <h2 class="boldy underlign">Reporting</h2>
                </a>
                <p class="text-muted">Suivez l'évolution de votre épargne dans votre espace privé.</p>
              </div>

            </div>

          </div>

        </div>
      </section>
      <!-- Goodies -->
      <!-- -->
      <section class="dark colortheme">
        <div class="container">

          <div class="row">

            <div class="col-md-5 col-sm-5">
              <a class="image-hover lightbox thumbnail" href="https://www.youtube.com/watch?v=s8LO44_cFYA" data-plugin-options='{"type":"iframe"}'>
                <span class="image-hover-icon image-hover-light"><!-- image-hover-light | image-hover-dark -->
                  <i class="fa fa-youtube-square"><!-- video icon --></i>
                </span>
                <%=image_tag "Impact_Investment.jpg", class: "img-responsive"%>
              </a>
            </div>

            <div class="col-md-7 col-sm-7">

              <header class="margin-bottom-60">
                <h2 class="boldy">L'impact investing: Comment ça marche?</h2>
                <p class="lead font-lato boldy">un jeu à somme non nulle</p>
              </header>

              <p>L'investissement à impact social est défini comme « un investissement qui allie explicitement retour social et retour financier sur investissement. L’investissement à impact social implique en conséquence l’établissement d’objectifs sociaux prioritaires et spécifiques dont l’impact est mesurable par un processus continu d'évaluation. Ces investissements peuvent être réalisés dans tous types juridiques d’organisations ayant un modèle économique pérenne, et viser des niveaux de rémunération s’étendant de l’absence de rémunération à des rendements proches du marché. »</p>
              <p></p>

              <a class="btn-treehouse-small  size-15 margin-top-30 lightbox" href="https://www.youtube.com/watch?v=s8LO44_cFYA" data-plugin-options='{"type":"iframe"}'>EXPLICATIONS</a>

            </div>

          </div>

        </div>
      </section>
      <!-- / -->

      <!-- Works -->
      <section>
        <div class="container">

          <div class="row">
            <div class= "col-xs-12 text-center">
              <h1 class="boldy  title"><i class="fa fa-search-plus" aria-hidden="true"></i>  Sous les projecteurs</h1>
              <p class="boldy tagline">Faites-vous plaisir!</p>
              <hr />
            </div>


          <div class="mix-grid margin-top-80">

            <%Viager.all.each do |viager|%>
              <div class="col-md-4 col-sm-4 col-xs-12"><!-- item -->

                <div class="item-box">
                  <figure class="arrondie">
                    <span class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <%=link_to viager_path(viager), class: "ico-rounded" do%>

                          <span class="fa fa-search size-20"></span>

                        <%end%>
                      <h4 class="enblanc boldy">Ticket d'entrée:  <strong><%=viager.bouquet/viager.number_share%>€</strong></h4>
                      <h4 class="enblanc boldy">Mensualité:  <strong><%=viager.rente/viager.number_share%> €/mois</strong></h4>
                        <!-- lightbox -->
                        <!-- details -->
                      </span>
                    </span>
                  <%= cl_image_tag viager.photo ,:height=> 399, :width=> 600, :crop=>"fill", class: "img-responsive", alt: ""%>

                  </figure>


                  <div class="item-box-desc">
                    <h3 class="boldy"><%=viager.city%>, <%=viager.zip_code%></h3>
                    <ul class="list-inline categories nomargin">
                      <div class="progress">
                        <div id="progression" class="progress-bar" role="progressbar" aria-valuenow="<%=share_assigned_percentage(viager)%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=share_assigned_percentage(viager)%>%; min-width: 1em;">
                        <%=share_assigned_percentage(viager)%>%
                        </div>
                      </div>

                      <li>Ticket d'entrée: <strong><%=viager.bouquet/viager.number_share%> €</strong></li>
                      <li>Mensualité: <strong><%=viager.rente/viager.number_share%> €/mois</strong></li>
                      <li><a href="#" data-toggle="popover" class="btn" title="TRI?" data-content="Il correspond à l'estimation du taux de rendement interne annuel de votre épargne ." id="popinfo"><strong><i class="fa fa-info-circle" aria-hidden="true"></i> TRI cible: </strong></a><strong>  <%=viager.tri%> % </strong></li>
                      <li>Horizon d'investissment: <strong><%=viager.horizon%> ans </strong></li><br>
                    </ul>
                  </div>
                </div>
              </div>
            <%end%><!-- /item -->







          </div>
        </div>
      </section>

      <section class="colortheme enblanc">
        <div class="container boldy">

          <div class="row">
            <div class= "col-xs-12 text-center">
              <h1 class="boldy  title enblanc"><i class="fa fa-envelope-o" aria-hidden="true"></i>  Abonne-toi à la newsletter</h1>
              <p class="boldy tagline">Les nouvelles toutes fraiches de l'épargne solidaire </p>
              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#303943; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
              <form action="//herokuapp.us14.list-manage.com/subscribe/post?u=221b8c02892048ddff112dfdf&amp;id=6e17d57228" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL"></label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="votre adresse mail" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_221b8c02892048ddff112dfdf_6e17d57228" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="S'abonner" name="subscribe" id="mc-embedded-subscribe" class="btn-yours-small-mailchimp"></div>
                  </div>
              </form>
              </div>

<!--End mc_embed_signup-->
            </div>



          </div>

        </div>
      </section>



          <!-- testimonials -->
      <section class="alternate">
      <div class="container">
          <div class="row">
            <div class= "col-xs-12 text-center">
              <h1 class="boldy  title"><i class="fa fa-comments" aria-hidden="true"></i>  Témoignages</h1>
              <p class="boldy tagline">Qui de mieux que nos clients pour parler de nous !</p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="testimonial testimonial-bordered padding-15">
                <figure class="pull-left">
                  <%=image_tag "Viag_Up.png", class: "rounded"%>
                </figure>
                <div class="testimonial-content">
                  <p>"Le succès c'est d'aller d'échec en échec sans perdre son enthousiasme" W.Churchill</p>
                  <cite>
                    Arnaud
                    <span>Viag'up</span>
                  </cite>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="testimonial testimonial-bordered padding-15">
                <figure class="pull-left">
                  <%=image_tag "guillaume.JPG", class: "rounded"%>
                </figure>
                <div class="testimonial-content">
                  <p>Un vrai jeu d'enfant! Les explications sont claires et les équipes réactives.</p>
                  <cite>
                    Guillaume
                    <span>Epargant convaincu</span>
                  </cite>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="testimonial testimonial-bordered padding-15">
                <figure class="pull-left">
                  <%=image_tag "typique.jpg" , class: "rounded"%>
                </figure>
                <div class="testimonial-content">
                  <p>J'ai pu reprendre mes cours de skateboard!</p>
                  <cite>
                    Jean-Jacques
                    <span>Senior heureux</span>
                  </cite>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
          <!-- /testimonials -->








