      <!-- REVOLUTION SLIDER -->
     <!--  <section id="slider" class="fullwidthbanner-container roundedcorners"> -->
        <!--
          Navigation Styles:

            data-navigationStyle="" theme default navigation

            data-navigationStyle="preview1"
            data-navigationStyle="preview2"
            data-navigationStyle="preview3"
            data-navigationStyle="preview4"

          Bottom Shadows
            data-shadow="1"
            data-shadow="2"
            data-shadow="3"

          Slider Height (do not use on fullscreen mode)
            data-height="300"
            data-height="350"
            data-height="400"
            data-height="450"
            data-height="500"
            data-height="550"
            data-height="600"
            data-height="650"
            data-height="700"
            data-height="750"
            data-height="800"
        -->
        <div class="fullscreenbanner" data-navigationStyle="" data-height="600">
          <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 50%), url('<%= image_path "bannervieux.jpg" %>');">
            <div class="banner-content">
            <h1>VIAG'UP</h1>
            <p>L'épargne collaborative &amp; solidaire </p>
            <%= link_to  viagers_path, class: "btn-yours tof" do%>

              <span>Découvrir nos projets</span>
              <i class="fa fa-search" aria-hidden="true"></i>
            <%end%>
            </div>
          </div>

     <!--  </section> -->
      <!-- /REVOLUTION SLIDER -->
    <!-- Goodies -->
      <section>
        <div class="container boldy">

          <div class="row">

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <i class="fa fa-tablet"></i>
                  <h2>100% en ligne</h2>
                </a>
                <p class="text-muted">Le banquier, l'agent immo et le notaire, c'est fini. Nous nous occupons de tout.</p>
              </div>

            </div>

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <i class="fa fa-users"></i>
                  <h2>Investir ensemble</h2>
                </a>
                <p class="text-muted">Epargnez avec vos proches ou intégrez une équipe en cours de constitution.</p>
              </div>

            </div>

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <i class="fa fa-eur"></i>
                  <h2>Diversifier</h2>
                </a>
                <p class="text-muted">Ne mettez pas tous vos oeufs dans le même panier, répartissez votre épargne sur plusieurs projets.</p>
              </div>

            </div>

            <div class="col-md-3">

              <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                <a class="box-icon-title" href="#">
                  <i class=" fa fa-bar-chart"></i>
                  <h2>Reporting</h2>
                </a>
                <p class="text-muted">Suivez l'évolution de votre épargne dans votre espace privé.</p>
              </div>

            </div>

          </div>

        </div>
      </section>
      <!-- Goodies -->
      <!-- -->
      <section>
        <div class="container">

          <div class="row">

            <div class="col-md-5 col-sm-5">
              <a class="image-hover lightbox thumbnail" href="https://www.youtube.com/watch?v=s8LO44_cFYA" data-plugin-options='{"type":"iframe"}'>
                <span class="image-hover-icon image-hover-light"><!-- image-hover-light | image-hover-dark -->
                  <i class="fa fa-youtube-square"><!-- video icon --></i>
                </span>
                <%=image_tag "Impact_Investment.jpg", class: "img-responsive"%>
              </a>
            </div>

            <div class="col-md-7 col-sm-7">

              <header class="margin-bottom-60">
                <h2>L'impact investing: Comment ça marche?</h2>
                <p class="lead font-lato">un jeu à somme non nulle</p>
              </header>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, nobis quae eos provident quidem. Quaerat expedita dignissimos perferendis, nihil quo distinctio eius architecto reprehenderit maiores.</p>
              <p>Similique excepturi voluptates placeat ducimus delectus magnam tempore dolore dolorem quisquam porro modi voluptatum eum saepe dolorum ratione officia sint eos minus.</p>

              <a class="btn btn-yours btn-lg size-15 margin-top-30 lightbox" href="https://www.youtube.com/watch?v=s8LO44_cFYA" data-plugin-options='{"type":"iframe"}'>EXPLICATIONS</a>

            </div>

          </div>

        </div>
      </section>
      <!-- / -->

      <!-- Works -->
      <section>
        <div class="container">

          <header class="margin-bottom-60 text-center">
            <h2>Nos derniers produits</h2>
            <p class="lead font-lato">Selectionnés avec soin  &amp; rigueur</p>
            <hr />
          </header>

          <div class="row mix-grid margin-top-80">

            <%Viager.all.each do |viager|%>
              <div class="col-md-4 col-sm-4 "><!-- item -->

                <div class="item-box">
                  <figure>
                    <span class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <%=link_to viager_path(viager), class: "ico-rounded" do%>

                          <span class="fa fa-search size-20"></span>

                        <%end%>


                      <h4 class="enblanc">Ticket d'entrée: <strong><%=viager.bouquet%>€</strong></h4>
                      <h4 class="enblanc">Rente: <strong><%=viager.rente%> €/mois</strong></h4>


                        <!-- lightbox -->
                        <!-- details -->


                      </span>
                    </span>
                  <%= cl_image_tag viager.photo ,:height=> 399, :width=> 600, :crop=>"fill", class: "img-responsive", alt: ""%>

                  </figure>

                  <div class="item-box-desc">
                    <h3><%=viager.city%></h3>
                    <ul class="list-inline categories nomargin">
                      <li><%=viager.address%></li>
                      <li><%=viager.zip_code%></li>
                      <li>Ticket d'entrée: <strong><%=viager.bouquet%>€</strong></li>
                      <li>Rente: <strong><%=viager.rente%> €/mois</strong></li>
                      <li>Horizon d'investissment <%=viager.horizon%> ans </li>
                    </ul>
                  </div>

                </div>

              </div>
            <%end%><!-- /item -->







          </div>
        </div>
      </section>
          <!-- testimonials -->
      <section class="alternate">
      <div class="container">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="testimonial testimonial-bordered padding-15">
                <figure class="pull-left">
                  <%=image_tag "Impact_Investment.jpg", class: "rounded"%>
                </figure>
                <div class="testimonial-content">
                  <p>"Le succès c'est d'aller d'échec en échec sans perdre son enthousiasme" W.Churchill</p>
                  <cite>
                    Arnaud
                    <span>Viag'up</span>
                  </cite>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="testimonial testimonial-bordered padding-15">
                <figure class="pull-left">
                  <%=image_tag "guillaume.JPG", class: "rounded"%>
                </figure>
                <div class="testimonial-content">
                  <p>"On ne boirait pas un coup?" self</p>
                  <cite>
                    Guillaume
                    <span>Viag'up</span>
                  </cite>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="testimonial testimonial-bordered padding-15">
                <figure class="pull-left">
                  <%=image_tag "vieux1.jpeg", class: "rounded"%>
                </figure>
                <div class="testimonial-content">
                  <p>J'ai pu reprendre mes cours de skateboard!</p>
                  <cite>
                    Jean-Jacques
                    <span>Senior heureux</span>
                  </cite>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
          <!-- /testimonials -->

        </div>

      <!-- /Works -->
      <!-- PARALLAX -->
      <section class="parallax parallax-2 padding-xxs" style="background-image: url('<%= image_path "city.jpg" %>');">
        <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

        <div class="container boldy">

          <div class="row countTo-md text-center">



            <div class="col-xs-6 col-sm-4">
              <i class="fa fa-home"></i>
              <span class="countTo" data-speed="3000">17</span>
              <h4>VIAGERS</h4>
            </div>

            <div class="col-xs-6 col-sm-4">
              <i class="fa fa-money"></i>
              <span class="countTo" data-speed="3000">350</span>
              <h4>EPARGNANTS</h4>
            </div>

            <div class="col-xs-6 col-sm-4">
              <i class="fa fa-facebook"></i>
              <span class="countTo" data-speed="3000">350</span>
              <h4>FACEBOOK</h4>
            </div>

          </div>

        </div>
      </section>
      <!-- /PARALLAX -->




      <!-- /Works -->
