<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col_xs_12">
    <ul class="process-steps nav nav-justified">
      <li >
        <a href="#">1</a>
        <h5>Informations</h5>
      </li>
      <li>
        <a href="#">2</a>
        <h5>Profil investisseur</h5>
      </li>
      <li class="active">
        <a href="#">3</a>
        <h5>Documents</h5>
      </li>
      <li>
        <a href="#">4</a>
        <h5>Signature</h5>
      </li>
    </ul>
  </div>
</div>

<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p><i class="fa fa-info-circle" aria-hidden="true"></i>
        Ces informations sont nécessaires au moment de la constitution des statuts de la SCI.
      </p>
    </div>
    <div class="col-xs-12">
      <p><i class="fa fa-wrench" aria-hidden="true"></i>
        La pièce d'identité (recto/verso) doit être contenue en un seul fichier. Si vous rencontrez des difficultés lors du chargement, envoyez-les à Administration@viagup.com.
      </p>
    </div>
  </div>
</div>

<div class = "container petit_fond">
  <%= simple_form_for(@investment_profile, url: investment_profiles_update_step3_path, html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Pièces justificatives</h2>
      </div>
      <div class="panel-body">
        <div class= "row">
          <div class ="col-xs-12 col-sm-12">
            <div class ="col-sm-5 col-xs-12">
              <p>Pièce d'identité valide</p>
            </div>
            <div class ="col-sm-7 col-xs-12">
              <%= f.input :idcard , required: true, autofocus: true, label: false %>
             <!--  <input class="custom-file-upload" type="file" id="file" name="investment_profile[idcard]" required id="investment_profile:idcard" data-btn-text="Select a File" placeholder="Votre pièce d'identité"/> -->
              <%= f.input :idcard_cache, as: :hidden %>
              <small class="text-muted block">Taille max: 10Mb (zip/pdf/jpg/png)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class= "row">
          <div class ="col-xs-12 col-sm-12">
            <div class ="col-sm-5 col-xs-12">
              <p>Justificatif de domicile (inférieur à 3 mois)</p>
            </div>
            <div class ="col-sm-7 col-xs-12">
              <%= f.input :justificatif, required: true, autofocus: true, label: false  %>
              <!-- <input class="custom-file-upload" type="file" id="file" name="investment_profile[justificatif]" required id="investment_profile:justificatif" data-btn-text="Select a File" placeholder="Votre justificatif de domicile (moins de 3 mois) "/> -->
              <%= f.input :justificatif_cache, as: :hidden %>
              <small class="text-muted block">Taille max: 10Mb (zip/pdf/jpg/png)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class = "col-xs-offset-5 col-xs-7">
        <span>  <%= link_to "Retour", :back, class: "btn-treehouse-small" %>

          <%= f.button :submit, "Confirmer", class: "btn-yours-small" %></span>

      </div>
  <%end%>
</div>

<!--       <%= simple_form_for(@investment_profile, url: investment_profiles_update_step3_path(@investment_profile), html: { method: :patch }) do |f| %>
      <%= f.error_notification %>


  <%= f.input :idcard , required: true%>
  <%= f.input :idcard_cache, as: :hidden %>
  <%= f.input :justificatif, required: true, autofocus: true, label: false  %>
  <%= f.input :justificatif_cache, as: :hidden %>
  <%= f.submit %>
<% end %> -->
