<br>
<br>
<br>



<section  id="carousel_section">
        <div class="container">
      <!-- /PAGE HEADER -->



                <!--
          controlls-over    = navigation buttons over the image
          buttons-autohide  = navigation buttons visible on mouse hover only

          data-plugin-options:
            "singleItem": true
            "autoPlay": true (or ms. eg: 4000)
            "navigation": true
            "pagination": true
            "transitionStyle":"fadeUp" (fade,backSlide,goDown,fadeUp)
        -->
        <div class="row">
          <div class="col-xs-6">

            <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": true, "navigation": true, "pagination": true, "transitionStyle":"fade"}'>
              <div>
                <%= cl_image_tag @viager.photo ,:height=> 800, :width=> 1200, :crop=>"fill", class: "img-responsive" %>
              </div>
              <div>
               <%= cl_image_tag @viager.salon ,:height=> 800, :width=> 1200, :crop=>"fill", class: "img-responsive"%>
              </div>
              <div>
                <%= cl_image_tag @viager.chambre ,:height=> 800, :width=> 1200, :crop=>"fill", class: "img-responsive"%>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-body" id="icones">
                <div class="row">
                  <div class="col-xs-6">
                    <%= image_tag "77_Essential_Icons_Location Marker.svg"%>
                    <h3><%=@viager.city.capitalize%></h3>
                  </div>
                  <div class="col-xs-6">
                    <%= image_tag "77_Essential_Icons_Home.svg"%>
                    <h3><%=@viager.maison.capitalize%></h3>
                  </div>
                  <div class="col-xs-6">
                    <%= image_tag "77_Essential_Icons_Bar Graph.svg"%>
                    <h3><%=@viager.tri%> %</h3>
                  </div>
                  <div class="col-xs-6">
                    <%= image_tag "77_Essential_Icons_Clock.svg"%>
                    <h3><%=@viager.horizon%> ans</h3>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class=' col-xs-push-3 col-xs-9'>
                    <h3 id="card_footer"><span class="label " id="progression"> En cours de financement</span></h3>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
      <!-- /OWL SLIDER -->
      <section class="callout-dark heading-title heading-arrow-bottom">
        <div class="container">

          <div class="text-center">
            <h3 class="size-30">Le viager </h3>
            <p>Votre future épargne en quelques chiffres </p>
          </div>

        </div>
      </section>

      <!-- -->
      <section id="offre">
        <div class="container">

          <div class="row nomargin">

            <div class="col-md-9 col-sm-9">

              <!-- Subtitle -->
              <div class="heading-title heading-border">
                <h2>L'offre de <span><%=@viager.old.first_name%></span></h2>

                <ul class="list-inline categories nomargin">
                  <li><%=@viager.city%></li>
                  <li>France</li>
                </ul>

              </div>
              <!-- /Subtitle -->

              <p><%=@viager.old.descriptif%></p>
              <div class="heading-title heading-border">
                <h3>Ses projets</h3>
              </div>
              <p class="font-lato size-18"><%=@viager.old.projet%></p>
                <div class="row" id="cta">
                  <div class="offset-xs-5 col-xs-5"></div>

              <%= link_to "Souscrire",  viagers_path, class: "btn-yours-big tof"%>
                </div>

            </div>

            <div class="col-md-3 col-sm-3">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">6 parts disponibles</h2>
                  <div class="progress">
                    <div id="progression" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%; min-width: 5em;">
                      70%
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  Valeur vénale
                  <p class="card"><%= @viager.venale %>€</p>
                  Valeur décôtée
                  <p class="card"><%= @viager.decote %>€</p>
                  Rendement estimé
                  <p class="card"><%= @viager.tri %>%</p>
                  Ticket d'entrée/part
                  <p class="card"><%= @viager.bouquet %>€</p>
                  Rente mensuelle/part
                  <p class="card"><%= @viager.rente/@viager.number_share %>€</p>
                  Détention estimée
                  <p class="card"><%= @viager.horizon %> ans</p>

                </div>
              <!--   <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <ul class="portfolio-detail-list list-unstyled nomargin">
                    <li><span><i class="fa fa-user"></i>Author:</span> Smarty Inc.</li>
                    <li><span><i class="fa fa-calendar"></i>Released:</span> 29th June 2015</li>
                    <li><span><i class="fa fa-lightbulb-o"></i>Technologies:</span> HTML / CSS / JAVASCRIPT</li>
                    <li><span><i class="fa fa-link"></i>Website:</span> <a href="#">www.stepofweb.com</a></li>
                  </ul>
                </div> -->

            </div>

          </div>

        </div>
        </div>
      </section>
      <!-- -->

      <!-- CALLOUT -->
      <section class="callout-dark heading-title heading-arrow-bottom">
        <div class="container">

          <div class="text-center">
            <h3 class="size-30"><%= image_tag "location_marker_white.svg"%>Localisation du bien </h3>
            <p>Vous ne connaissez pas le secteur? Aucune inquiétude, nous nous en sommes chargés. </p>
          </div>

        </div>
      </section>
      <!-- /CALLOUT -->



      <!-- -->
      <section class="nopadding">

        <div class="row nomargin">

          <!-- LEFT -->
          <div class="col-md-6 col-sm-6 nopadding nomargin">


            <div id="map" style="width: 100%; height: 800px;"></div>

          </div>

          <!-- RIGHT -->
          <div class="col-md-6 col-sm-6 nopadding nomargin">

            <div class="padding-40">

              <h2><%= image_tag "77_Essential_Icons_List.svg"%>Le dynamisme du secteur</h2>
              <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
              <p class="font-lato size-18">Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


              <div class="row margin-top-60">

                <div class="col-md-8">
                  <div class="heading-title heading-border-bottom heading-color" id="descriptif">
                    <h3>Descriptif du bien</h3>
                  </div>
                  <ul>
                    <li>TYPE DE BIEN : <strong><%=@viager.maison.capitalize%></strong></li>
                    <li>SURFACE HABITABLE : <strong><%=@viager.habitable%> m²</strong></li>
                    <li>NOMBRE DE PIÈCE(S) : <strong><%=@viager.piece%></strong></li>
                    <li>NOMBRE DE NIVEAU(X) : <strong><%=@viager.niveaux%></strong></li>
                    <li>ACCÈS PAR ASCENSEUR : <strong><%=@viager.ascenceur%></strong></li>
                    <li>BALCON/TERRASSE : <strong><%=@viager.balcon%></strong></li>
                    <li>ÉPOQUE DE CONSTRUCTION : <strong><%=@viager.annee%></strong></li>
                    <li>SURFACE DU TERRAIN : <strong><%=@viager.terrain%> m²</strong></li>
                    <li>ANNEXE(S)/SURFACE(S) SUPPLÉMENTAIRE(S) : <strong><%=@viager.annexe%></strong></li>
                  </ul>

                  <a href="#">
                    Read
                    <!-- /word rotator -->
                    <span class="word-rotator" data-delay="2000">
                      <span class="items">
                        <span>more</span>
                        <span>now</span>
                      </span>
                    </span><!-- /word rotator -->
                    <i class="glyphicon glyphicon-menu-right size-12"></i>
                  </a>

                </div>

                <div class="col-md-4">
                  <div class="heading-title heading-border-bottom heading-color">
                    <h3>Créditrentier</h3>
                  </div>
                    <ul>
                      <li><strong><%=@viager.old.first_name.capitalize%></strong></li>
                      <li><strong><%=@viager.old.sexe.capitalize%></strong></li>
                      <li><strong><%=@viager.old.age%> ans</strong></li>
                    </ul>
                </div>

              </div>


            </div>
          </div>

        </div>

      </section>
      <!-- / -->




      <!-- -->
      <section>
        <div class="container">

          <div class="heading-title heading-border">
            <h3>Related <span>Projects</span></h3>
            <p class="font-lato size-14">Lorem ipsum dolor sit amet.</p>
          </div>

          <!--
            RELATED CAROUSEL

            controlls-over    = navigation buttons over the image
            buttons-autohide  = navigation buttons visible on mouse hover only

            owl-carousel item paddings
              .owl-padding-0
              .owl-padding-1
              .owl-padding-2
              .owl-padding-3
              .owl-padding-6
              .owl-padding-10
              .owl-padding-15
              .owl-padding-20
          -->
          <div class="text-center">
            <div class="owl-carousel owl-padding-1 nomargin buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "4", "autoPlay": 3500, "navigation": true, "pagination": false}'>

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/16-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/16-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/4-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/4-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/5-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/5-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/6-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/6-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/7-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/7-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/8-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/8-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/9-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/9-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

              <!-- item -->
              <div class="item-box">
                <figure>
                  <span class="item-hover">
                    <span class="overlay dark-5"></span>
                    <span class="inner">

                      <!-- lightbox -->
                      <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/10-min.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus size-20"></span>
                      </a>

                      <!-- details -->
                      <a class="ico-rounded" href="portfolio-single-slider.html">
                        <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                      </a>

                    </span>
                  </span>

                  <img class="img-responsive" src="assets/images/demo/mockups/600x399/10-min.jpg" width="600" height="399" alt="">
                </figure>

                <div class="item-box-desc">
                  <h3>Architect Project</h3>
                  <ul class="list-inline categories nomargin">
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>

              </div>
              <!-- /item -->

            </div>
          </div>

        </div>
      </section>



<% content_for(:after_js) do %>

  <%= javascript_tag do %>

    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });

  <% end %>
<% end %>

