<br>
<br>
<br>



<section  id="carousel_section">
  <div class="container">
      <!-- /PAGE HEADER -->



                <!--
          controlls-over    = navigation buttons over the image
          buttons-autohide  = navigation buttons visible on mouse hover only

          data-plugin-options:
            "singleItem": true
            "autoPlay": true (or ms. eg: 4000)
            "navigation": true
            "pagination": true
            "transitionStyle":"fadeUp" (fade,backSlide,goDown,fadeUp)
        -->

        <div class="row">
          <div class:"col-xs-12">
            <%if part_available_count(@viager) != 0%>
            <h1 class="text-center boldy"><i class="fa fa-info-circle" aria-hidden="true"></i>  Plus que <%=part_available_count(@viager)%> part(s) disponible(s)</h1>
            <% else %>
            <h1 class="text-center boldy"><i class="fa fa-info-circle" aria-hidden="true"></i>  Trop tard!</h1>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": true, "navigation": true, "pagination": true, "transitionStyle":"fade"}'>
              <div>
                <%= cl_image_tag @viager.photo ,:height=> 800, :width=> 1200, :crop=>"fill", class: "img-responsive" %>
              </div>
              <div>
               <%= cl_image_tag @viager.salon ,:height=> 800, :width=> 1200, :crop=>"fill", class: "img-responsive"%>
              </div>
              <div>
                <%= cl_image_tag @viager.chambre ,:height=> 800, :width=> 1200, :crop=>"fill", class: "img-responsive"%>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body" id="icones">
                <div class="row">
                  <div class="col-xs-6">
                    <%= image_tag "77_Essential_Icons_Location Marker.svg"%>
                    <h3><%=@viager.city.capitalize%></h3>
                  </div>
                  <div class="col-xs-6">
                    <%if @viager.maison == "maison"%>
                    <%= image_tag "77_Essential_Icons_Home.svg"%>
                    <%else%>
                    <%= image_tag "03.Office.svg"%>
                    <%end%>
                    <h3><%=@viager.maison.capitalize%></h3>
                  </div>
                  <div class="col-xs-6">
                    <%= image_tag "77_Essential_Icons_Bar Graph.svg"%>
                    <h3><%=@viager.tri%> % <a href="#" data-toggle="popover" class="btn boldy" title="A quoi correspond ce taux de rendement interne?" data-content="Ce taux de rendement interne prend en compte l'espérance de vie du créditrentier (basée sur la table de mortalité établie par CNP Assurances) et sur la valeur de revente du bien à terme (égale à la valeur vénale considérée non évolutive et indiquée sur cette page). Ce taux peut donc évoluer à la hausse comme à la baisse." id="popinfo"><i class="fa fa-question-circle" aria-hidden="true" ></i></a></h3>
                  </div>
                  <div class="col-xs-6">
                    <%= image_tag "77_Essential_Icons_Clock.svg"%>
                    <h3><%=@viager.horizon%> ans <a href="#" data-toggle="popover" class="btn boldy" title="A quoi correspond l'horizon d'investissment? " data-content="L'horizon d'investissement est égal à l'espérance de vie du créditrentier, calculée d'aprés la table de mortalité établie par CNP Assurances. Le respect de cet horizon est également subordonné à la revente du bien. Cet horizon peut donc évoluer à la hausse comme à la baisse. " id="popinfo"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h3>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class=' col-xs-12 text-center'>
                    <% if part_available_count(@viager) != 0%>
                    <h3 id="card_footer"><span class="label " id="progression"> En cours de financement</span></h3>
                    <% else %>
                    <h3 id="card_footer"><span class="label " id="cloture"> Financé</span></h3>
                    <%end%>

                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
      <!-- /OWL SLIDER -->
      <section class="callout-dark heading-title heading-arrow-bottom colortheme">
        <div class="container">

          <div class="text-center">
            <h3 class="size-30 boldy"><%= image_tag "77_Essential_Icons_Search.svg"%>Le viager </h3>
            <p class="boldy">Votre future épargne en quelques chiffres </p>
          </div>

        </div>
      </section>

      <!-- -->
      <section id="offre">
        <div class="container">
          <div class="row nomargin">
            <div class="col-xs-12 col-sm-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title"><%= image_tag "77_Essential_Icons_Book.svg"%> Descriptif du bien </h2>

                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                    SURFACE HABITABLE : <strong><%=@viager.habitable%> m²</strong>
                    </div>
                    <div class="col-xs-12">
                    NOMBRE DE PIÈCE(S) : <strong><%=@viager.piece%></strong>
                    </div>
                    <div class="col-xs-12">
                    SURFACE DU TERRAIN : <strong><%=@viager.terrain%> m²</strong>
                    </div>
                    <div class="col-xs-12">
                    DATE DE CONSTRUCTION : <strong><%=@viager.annee%></strong>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h2 class="panel-title"><%= image_tag "77_Essential_Icons_Profile.svg"%> Le créditrentier </h2>

                </div>
                <div class="panel-body">
                  <li><strong><%=@viager.old.first_name.capitalize%></strong></li>
                      <li><strong><%=@viager.old.sexe.capitalize%></strong></li>
                      <li><strong><%=@viager.old.age%> ans</strong></li>
                </div>
                <div class="panel-footer text-center">
                  <%=link_to "Télécharger le rapport d'expertise", class: "btn-medium"%>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <!-- Subtitle -->
              <div class="heading-title heading-dotted text-center">
                <h2>L'offre de <span><%=@viager.old.first_name%></span></h2>
                <ul class="list-inline categories nomargin">
                  <li><%=@viager.city%></li>
                  <li>France</li>
                </ul>
              </div>
              <!-- /Subtitle -->
              <p><%=@viager.old.descriptif%></p>
              <div class="heading-title heading-dotted text-center">
                <h3>Ses projets</h3>
              </div>
              <p class="font-lato size-18"><%=@viager.old.projet%></p>
              <div class="row" id="cta">
                <% if current_user != nil%>
                  <% if current_user.profil_valid == true%>
                    <div class="col-xs-12 text-center">
                      <button type="button" class="btn-yours-big tof" data-toggle="modal" data-target="#myModal">
                            Souscrire
                      </button>
                  <%else%>
                    <div class="col-xs-12 text-center">
                      <%= link_to "Compléter votre profil", pages_profil_path(current_user), class: "btn-yours-big tof"%>
                  <%end%>
                <%else%>
                  <div class="col-xs-12 text-center">
                    <%= link_to "Se connecter", new_user_registration_path, class: "btn-yours-big tof"%>
                <%end%>
              </div>
            </div>
          </div>
            <div class="col-xs-12 col-sm-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title"><%= image_tag "77_Essential_Icons_Pie Chart.svg"%>  <%=part_available_count(@viager)%> part(s) disponible(s)</h2>
                  <div class="progress">
                    <div id="progression" class="progress-bar" role="progressbar" aria-valuenow="<%=share_assigned_percentage(@viager)%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=share_assigned_percentage(@viager)%>%; min-width: 1em;">
                      <%=share_assigned_percentage(@viager)%>%
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  Valeur vénale
                  <p class="card"><%= separateur(@viager.venale) %>€</p>
                  Valeur décôtée
                  <p class="card"><%= separateur(@viager.decote) %>€</p>
                  Rendement estimé
                  <p class="card"><%= @viager.tri %>%</p>
                  Ticket d'entrée/part
                  <p class="card"><%= @viager.bouquet/@viager.number_share %>€</p>
                  Rente mensuelle/part
                  <p class="card"><%= @viager.rente/@viager.number_share %>€</p>
                  Détention estimée
                  <p class="card"><%= @viager.horizon %> ans</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% if current_user != nil && current_user.profil_completed == true %>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Espace de réservation de vos parts</h4>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                              <h4><%=@viager.city.capitalize%>,  <%=@viager.horizon.to_s%> ans.</h4>
                              <%= cl_image_tag @viager.photo ,:crop=>"fill", class: "avatar-square" %>
                              <h4>Conditions</h4>
                                <ul>
                                  <li>Vous vous apprétez à reserver des parts d'une société civile immobilière.</li>
                                   <li>Cette société sera constituée si <a href="#" data-toggle="popover" class="btn" title="A quoi correspond ce montant?" data-content="Il correspond aux frais de notaires, aux frais d'agence immobilière ainsi qu'aux frais de constitution de la SCI." id="popinfo"><%=separateur(@viager.bouquet)%>€</a> sont financés par la communauté d'investisseurs avant le METTRE UNE DATE DE FIN.</li>
                                   <li>Cet investissement représente un risque d'illiquidité (difficultés à revendre vos parts avant le terme) ainsi qu'un risque de perte en capital important. Pour plus de détails, veuillez vous reporter à l'onglet concernant les risques de  l'investissement participatif.</li>

                                </ul>

                              <h4>Nombre de parts souhaitées</h4>
                              <input type="text" min="0" max="<%=part_available_count(@viager)%>" class="form-control stepper" id="nombre_de_parts">

                              <h4>Montant de votre investissement</h4>
                              <button type="button" class="btn-treehouse clickable" >Simulation</button>
                              <ul id="insertion">

                              </ul>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">

                              <button type="button" class="btn-treehouse" data-dismiss="modal">Revenir à l'offre</button>
                              <button class="confirmation">
                              <%= form_tag (signatures_reservation_path(@viager)), method: :post do %>

                              <%= hidden_field_tag :name, current_user.investment_profile.prenom %>
                              <%= hidden_field_tag :id, @viager.id %>
                              <div id="part">

                              </div>
                              <%= hidden_field_tag :email, current_user.email %>
                              <%= submit_tag 'Réserver', class: "btn-yours-small" %>
                              <%end%>
                              </button>


                            </div>

                          </div>
                        </div>
        </div>
      <%end%>
      </section>
      <!-- -->
      <!-- CALLOUT -->
      <section class="callout-dark heading-title heading-arrow-bottom colortheme">
        <div class="container">
          <div class="text-center">
            <h3 class="size-30 boldy"><%= image_tag "location_marker_white.svg"%>Localisation du bien </h3>
            <p class="boldy">Vous ne connaissez pas le secteur? Aucune inquiétude, nous nous en sommes chargés. </p>
          </div>
        </div>
      </section>
      <!-- /CALLOUT -->
      <!-- -->
      <section class="nopadding">

        <div class="row nomargin">
          <!-- LEFT -->
          <div class="col-md-6 col-sm-6 nopadding nomargin">
            <div id="map" style="width: 100%; height: 800px;"></div>
          </div>
          <!-- RIGHT -->
          <div class="col-md-6 col-sm-6 nopadding nomargin">
            <div class="padding-40">
              <h2><%= image_tag "77_Essential_Icons_List.svg"%>Le dynamisme du secteur</h2>
              <p>Quelques données ci-dessous pour que vous puissiez y voir plus clair.</p>

              <div class="row margin-top-60">
                <div class="col-md-12 col col-xs-12">
                  <div class="heading-title heading-border-bottom heading-color" id="descriptif">
                    <h3>Démographie</h3>
                  </div>
                  <ul>
                    <li>Population : <strong><%=@population%></strong></li>
                    <li>Croissance démographique : <strong><%=@croissance%></strong></li>
                    <li>Nombre total de logements : <strong><%=@nbre_logement%></strong></li>
                    <li>densité de la population : <strong><%=@densité%></strong></li>
                  </ul>
                </div>
                <div class="col-md-12 col-xs-12">
                  <div class="heading-title heading-border-bottom heading-color">
                    <h3>Prix moyens</h3>
                  </div>
                    <ul>
                      <li>Prix m2 appartement <strong><%=@prix_m2_moyen_appartement%>€</strong></li>
                      <li>Prix m2 maison <strong><%=@prix_m2_moyen_maison%>€</strong></li>
                      <li>Evolution des prix depuis 1 an <strong><%=@evolution_des_prix_sur_annee%></strong></li>
                      <li>Délai de vente moyen <strong><%=@delai_vente_moyen%></strong></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- / -->




      <!-- -->
      <section class="callout-dark heading-title heading-arrow-bottom colortheme">
        <div class="container">
          <div class="text-center">
            <h3 class="size-30 boldy"><%= image_tag "calculatrice.svg"%>Simulation financière</h3>
            <p class="boldy">Calculez en un instant ce que rapportera votre épargne</p>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><i class="fa fa-building pull-right hidden-xs"></i> Nombre de parts</th>
                  <th><i class="fa fa-clock-o pull-right hidden-xs"></i> Horizon d'investissement</th>
                  <th><i class="fa fa-ticket pull-right hidden-xs"></i> Ticket(s) (€)</th>
                  <th><i class="fa fa-calendar pull-right hidden-xs"></i> Mensualités sur la période (€) </th>
                  <th><i class="fa fa-circle-o pull-right hidden-xs"></i> Total (€) </th>
                  <th><i class="fa fa-money pull-right hidden-xs"></i>Gain potentiel (€)</th>
                </tr>
              </thead>
              <tbody class="boldy text-center">
                <tr>
                  <td><input type="text" min="0" max="<%=part_available_count(@viager)%>" class="form-control stepper" id="nombre_de_parts2"></td>
                  <td><%=@viager.horizon%> ans</td>
                  <td id="col3"></td>
                  <td id="col4"></td>
                  <td id="col5"></td>
                  <td id="col6"><a href="#" data-toggle="popover" class="btn boldy" title="A quoi correspond ce montant?" data-content="C'est la différence entre la valeur de vos parts lors de la revente du bien et de vos investissements cumulés. Cette somme est nette d'impôts, 33,33% ont été retiré au titre de l'impôt sur les sociétés applicable à la SCI." id="popinfo"><i class="fa fa-question-circle" aria-hidden="true"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button type="button" class="btn-treehouse clickable2" >Simulation</button>
            </div>
          </div>

        </div>
      </section>






<% content_for(:after_js) do %>

  <%= javascript_tag do %>

    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      handler.getMap().setOptions({ scrollwheel: false });
    });



    $(document).ready(function() {

      $(".clickable").click(function(event) {
        var part = $('#nombre_de_parts').val();
        var bouquet = "<%=@viager.bouquet/@viager.number_share%>";
        var rente = "<%=@viager.rente/@viager.number_share%>";
        var mensuel =rente * part;
        var invest = bouquet * part;
        $('#insertion').html('<li>Vous contribuerez à hauteur de <strong>'+invest+'€</strong> dès la constitution de la SCI.</li><li>Vous serez prélevé à hauteur de <strong>'+mensuel+'€/mois</strong> au titre de la rente.</li>');
      });

      $(".confirmation").hover(function(event) {
        var part = $('#nombre_de_parts').val();
        $('#part').html('<input type="hidden" name="part" value="'+part+'" />');
      });

      function formatMillier(nombre){
        nombre += '';
        var sep = ' ';
        var reg = /(\d+)(\d{3})/;
        while( reg.test( nombre)) {
          nombre = nombre.replace( reg, '$1' +sep +'$2');
        }
        return nombre;
      };

      $(".clickable2").click(function(event) {
        var part = $('#nombre_de_parts2').val();
        var année = "<%=@viager.horizon.to_i * 12%>";
        var bouquet = "<%=@viager.bouquet/@viager.number_share%>";
        var rente = "<%=@viager.rente/@viager.number_share%>";
        var vénale = "<%=@viager.venale.to_i.to_f/@viager.number_share%>"
        var mensuel =rente * part * année;
        var invest = bouquet * part ;
        var total = mensuel + invest;
        var gain = Math.round(((vénale * part) - total)*0.6667*100)/100;
        $('#col3').html(formatMillier(invest));
        $('#col4').html(formatMillier(mensuel));
        $('#col5').html(formatMillier(total));
        $('#col6').html(formatMillier(gain));
      });




    });




  <% end %>
<% end %>

