<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).blank? ? "Viag'Up" : yield(:title) %></title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Viagu'Up est le meilleur moyen d'investir à plusieurs dans l'immobilier solidaire.">
    <meta property="og:title" content="Viag'Up">
    <meta property="og:image" content="http://www.viagup.com/assets/Viag_Up-9c8c32b9e9a5677a1922d7d8fa67ab3fe70e13b758ea48300a92108e220e2e25.png">
    <meta property="og:description" content="Viagu'Up est le meilleur moyen d'investir à plusieurs dans l'immobilier solidaire. L'épargne collaborative au service des seniors!">
    <meta property="og:url" content="http://www.viagup.com" />
    <meta property="og:site_name" content="Viag'Up"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="/assets/css/layout-datatables.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <%= render 'shared/navbar2' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>


    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>


    <script type="text/javascript">var plugin_path = '/plugins/';</script>
    <%= javascript_include_tag 'application' %>

    <%= yield(:after_js) %>


  </body>
</html>
